.windowControls {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  -webkit-app-region: no-drag;
  --icon-color: #000;

  @media (prefers-color-scheme: dark) {
    & {
      --icon-color: #fff;
    }
  }
}

.windowMinimize,
.windowMaxRestore,
.windowClose {
  width: 46px;
  height: 34px;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);

  &:hover,
  &:focus-visible {
    background-color: #8882;
  }

  &:active {
    background-color: #8884;
  }
}

.windowMinimize {
}

.windowMaxRestore {
}

.windowClose {
}
